.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

}

.log-sign-section {
    background: #ffffff;
    display: flex;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
}


.log-bg {
    
    
    width: 50%;
}